nav {
    width: 100%;
    height: 80px;
    background-color: #75afda;
    padding-top: 25px;
    margin-bottom: 45px;
}
nav li {
    list-style: none;
    font-size: 1.3em;
    float: left;
    margin-right: 20px;
}
nav li a {
    color: white;
}

nav li a:hover {
    color: white
    font-weight: bold;

}

a.add-btn {
    float: right;
    margin: 0 0 2em 0;
}

.required {
    font-size: 0.7em;
    color: red;
}
